<nz-descriptions nzBordered nzSize="small" nzLayout="vertical" [nzColumn]="2">
  <nz-descriptions-item nzTitle="v2ray-core version">
    <div class="d-flex align-items-center">
      <span>{{ v2rayVersion }}</span>
      <button class="ml-auto" nz-button nzType="link" (click)="updateV2rayCore()">
        <i nz-icon nzType="sync" [nzSpin]="v2rayLoading"></i>
        <span>更新v2ray core</span>
      </button>
    </div>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="domain list community">
    <div class="d-flex align-items-center">
      <span>{{ dlcUpdatedTime }}</span>
      <button class="ml-auto" nz-button nzType="link" (click)="updateDlc()" [disabled]="dlcLoading">
        <i nz-icon nzType="sync" [nzSpin]="dlcLoading"></i>
        <span>更新dlc.dat</span>
      </button>
    </div>
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #progressTpl>
  <div class="d-flex">
    <nz-progress class="col" [nzPercent]="progress$ | async" nzStatus="active"></nz-progress>
    <a nz-popconfirm nzPopconfirmTitle="确认停止更新吗？" (nzOnConfirm)="stopDownload()">
      <i nz-icon nzType="close"></i>
    </a>
  </div>
</ng-template>
