<div class="d-flex justify-content-end mb-3">
  <button nz-button nzType="primary" [disabled]="!formValid" (click)="submit()">保存</button>
  <button nz-button nz-popconfirm nzTitle="确认重置吗？" (nzOnConfirm)="nodeConfigForm.reset()">重置</button>
</div>

<sf #nodeConfigForm [schema]="nodeFormSchema" [formData]="nodeConfig" button="none">
  <ng-template sf-template="/streamSettings/tcpSettings/header/request/headers" let-me>
    <ng-container [ngTemplateOutlet]="json" [ngTemplateOutletContext]="{ $implicit: me }"></ng-container>
  </ng-template>
  <ng-template sf-template="/streamSettings/tcpSettings/header/response/headers" let-me>
    <ng-container [ngTemplateOutlet]="json" [ngTemplateOutletContext]="{ $implicit: me }"></ng-container>
  </ng-template>
  <ng-template sf-template="/streamSettings/wsSettings/headers" let-me>
    <ng-container [ngTemplateOutlet]="json" [ngTemplateOutletContext]="{ $implicit: me }"></ng-container>
  </ng-template>
</sf>

<ng-template #json let-me>
  <textarea
    nz-input
    [ngModel]="me.formProperty.value | jsonToObject: false"
    (ngModelChange)="me.setValue(parse($event))"
  ></textarea>
</ng-template>
