<nz-drawer
  [nzWidth]="drawerWidth"
  [nzVisible]="drawerVisible"
  nzPlacement="right"
  nzTitle="添加节点"
  (nzOnClose)="toggleDrawer()"
  [nzBodyStyle]="{ padding: 0 }"
  [nzMaskClosable]="false"
>
  <div *ngIf="drawerVisible" class="drawer-body" nzBounds="window">
    <v2ray-node-config-form [nodeConfig]="nodeConfig" (whenSubmit)="nodeFormSubmit($event)"></v2ray-node-config-form>
  </div>
</nz-drawer>

<ng-template #urlsTpl>
  <form nz-form>
    <nz-row nzGutter="8">
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [style.width.px]="100">urls</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              [nzAutosize]="{ minRows: 4 }"
              name="urls"
              [(ngModel)]="urls"
              placeholder="一行一个"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </form>
</ng-template>

<div class="action-bar mr-2">
  <a class="action" nz-dropdown [nzDropdownMenu]="menu">
    <i nz-icon nzType="plus"></i>
    <span>添加节点</span>
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu>
    <ul nz-menu>
      <li nz-menu-item (click)="toggleDrawer()">手动添加</li>
      <li nz-menu-item (click)="showUrlsForm(urlsTpl)">从url导入</li>
    </ul>
  </nz-dropdown-menu>
</div>
<nz-spin [nzSpinning]="loading">
  <nz-divider nzText="自定义节点列表" nzOrientation="left"></nz-divider>
  <div class="node-list">
    <v2ray-node-card
      *ngFor="let node of localNodeList"
      [nodeConfig]="node"
      (vEdit)="toggleDrawer($event)"
      (vDelete)="deleteNode($event)"
      (vSelect)="cs.setActivatedNode($event)"
      [activated]="cs.activatedNode?.nodeTag === node.tag"
    ></v2ray-node-card>
  </div>
  <ng-container *ngFor="let subscribe of subscribeList">
    <nz-divider [nzText]="subscribe.title" nzOrientation="left"></nz-divider>
    <div class="node-list">
      <v2ray-node-card
        *ngFor="let node of subscribe.nodes"
        [nodeConfig]="node"
        (vSelect)="cs.setActivatedNode($event)"
        [activated]="cs.activatedNode?.nodeTag === node.tag"
        [showEdit]="false"
      ></v2ray-node-card>
    </div>
  </ng-container>
</nz-spin>
