<div class="d-flex justify-content-end mb-3">
  <button
    nz-button
    nzType="primary"
    [disabled]="!nodeConfigFormGroup.valid"
    (click)="whenSubmit.emit(nodeConfigFormGroup.value)"
  >
    保存
  </button>
  <button nz-button nz-popconfirm nzPopconfirmTitle="确认重置吗？" (nzOnConfirm)="initNodeConfigFormGroup(nodeConfig)">
    重置
  </button>
</div>

<form nz-form [formGroup]="nodeConfigFormGroup">
  <nz-row nzGutter="8">
    <nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>别名</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>协议</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="protocol" (ngModelChange)="setSettingsGroup($event)">
            <nz-option nzLabel="vmess" nzValue="vmess"></nz-option>
            <nz-option nzLabel="vless" nzValue="vless"></nz-option>
            <nz-option nzLabel="shadowsocks" nzValue="shadowsocks"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="服务器配置" nzActive>
      <nz-row nzGutter="8">
        <ng-container [ngSwitch]="nodeConfigFormGroup.get('protocol').value">
          <ng-container *ngSwitchCase="'shadowsocks'">
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired>服务器地址</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzAddOnAfter]="addressAddOnAfter">
                    <input type="text" nz-input [formControl]="settings.get('servers')['controls'][0].get('address')" />
                    <ng-template #addressAddOnAfter>
                      <nz-input-number
                        [nzMin]="1"
                        [nzMax]="99999"
                        [nzStep]="1"
                        [formControl]="settings.get('servers')['controls'][0].get('port')"
                      ></nz-input-number>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired>加密方式</nz-form-label>
                <nz-form-control>
                  <nz-select [formControl]="settings.get('servers')['controls'][0].get('method')">
                    <nz-option nzLabel="aes-256-cfb" nzValue="aes-256-cfb"></nz-option>
                    <nz-option nzLabel="aes-128-cfb" nzValue="aes-128-cfb"></nz-option>
                    <nz-option nzLabel="chacha20b" nzValue="chacha20b"></nz-option>
                    <nz-option nzLabel="chacha20-ietf" nzValue="chacha20-ietf"></nz-option>
                    <nz-option nzLabel="aes-256-gcm" nzValue="aes-256-gcm"></nz-option>
                    <nz-option nzLabel="aes-128-gcm" nzValue="aes-128-gcm"></nz-option>
                    <nz-option nzLabel="chacha20-poly1305" nzValue="chacha20-poly1305"></nz-option>
                    <nz-option nzLabel="chacha20-ietf-poly1305" nzValue="chacha20-ietf-poly1305"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired>密码</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input [formControl]="settings.get('servers')['controls'][0].get('password')" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </ng-container>
          <ng-container *ngSwitchCase="'vmess'">
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired>服务器地址</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzAddOnAfter]="addressAddOnAfter">
                    <input type="text" nz-input [formControl]="settings.get('vnext')['controls'][0].get('address')" />
                    <ng-template #addressAddOnAfter>
                      <nz-input-number
                        [nzMin]="1"
                        [nzMax]="99999"
                        [nzStep]="1"
                        [formControl]="settings.get('vnext')['controls'][0].get('port')"
                      ></nz-input-number>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired>id</nz-form-label>
                <nz-form-control>
                  <input
                    type="text"
                    nz-input
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('id')"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label>alterId</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1"
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('alterId')"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label [style.width]="'auto'">用户等级</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1"
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('level')"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="10">
              <nz-form-item>
                <nz-form-label [style.width]="'auto'">加密方式</nz-form-label>
                <nz-form-control>
                  <nz-select
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('security')"
                  >
                    <nz-option nzValue="auto" nzLabel="auto"></nz-option>
                    <nz-option nzValue="aes-128-gcm" nzLabel="aes-128-gcm"></nz-option>
                    <nz-option nzValue="chacha20-poly1305" nzLabel="chacha20-poly1305"></nz-option>
                    <nz-option nzValue="none" nzLabel="none"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </ng-container>
          <ng-container *ngSwitchCase="'vless'">
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired>服务器地址</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzAddOnAfter]="addressAddOnAfter">
                    <input type="text" nz-input [formControl]="settings.get('vnext')['controls'][0].get('address')" />
                    <ng-template #addressAddOnAfter>
                      <nz-input-number
                        [nzMin]="1"
                        [nzMax]="99999"
                        [nzStep]="1"
                        [formControl]="settings.get('vnext')['controls'][0].get('port')"
                      ></nz-input-number>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired>id</nz-form-label>
                <nz-form-control>
                  <input
                    type="text"
                    nz-input
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('id')"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>加密方式</nz-form-label>
                <nz-form-control>
                  <nz-select
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('encryption')"
                  >
                    <nz-option nzValue="none" nzLabel="none"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>用户等级</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1"
                    [formControl]="settings.get('vnext')['controls'][0].get('users')['controls'][0].get('level')"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </ng-container>
        </ng-container>
      </nz-row>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="传输配置" formGroupName="streamSettings">
      <nz-row nzGutter="8">
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>network</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="network">
                <nz-option nzLabel="tcp" nzValue="tcp"></nz-option>
                <nz-option nzLabel="mKcp" nzValue="mKcp"></nz-option>
                <nz-option nzLabel="ws" nzValue="ws"></nz-option>
                <nz-option nzLabel="http/2" nzValue="http/2"></nz-option>
                <nz-option nzLabel="domainSocket" nzValue="domainSocket"></nz-option>
                <nz-option nzLabel="quic" nzValue="quic"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>security</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="security">
                <nz-option nzLabel="none" nzValue="none"></nz-option>
                <nz-option nzLabel="tls" nzValue="tls"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
      <nz-collapse nzAccordion>
        <nz-collapse-panel
          nzHeader="tlsSettings"
          *ngIf="streamSettings.get('security').value === 'tls'"
          formGroupName="tlsSettings"
        >
          <nz-row nzGutter="8">
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>serverName</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input formControlName="serverName" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>alpn</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="alpn" nzMode="multiple">
                    <nz-option nzLabel="http/1.1" nzValue="http/1.1"></nz-option>
                    <nz-option nzLabel="h2" nzValue="h2"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>allowInsecure</nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="allowInsecure"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>disableSystemRoot</nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="disableSystemRoot"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </nz-collapse-panel>
        <ng-container [ngSwitch]="streamSettings.get('network').value">
          <nz-collapse-panel *ngSwitchCase="'tcp'" nzHeader="tcpSettings" formGroupName="tcpSettings">
            <ng-container formGroupName="header">
              <nz-row nzGutter="8">
                <nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label>type</nz-form-label>
                    <nz-form-control>
                      <nz-select formControlName="type">
                        <nz-option nzLabel="none" nzValue="none"></nz-option>
                        <nz-option nzLabel="http" nzValue="http"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </nz-col>
              </nz-row>
              <nz-collapse *ngIf="tcpSettings.get('header').get('type').value === 'http'">
                <nz-collapse-panel *ngFor="let key of ['request', 'response']" [nzHeader]="key" [formGroupName]="key">
                  <nz-row nzGutter="8">
                    <nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label>version</nz-form-label>
                        <nz-form-control>
                          <input type="text" nz-input formControlName="version" />
                        </nz-form-control>
                      </nz-form-item>
                    </nz-col>
                    <nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label>method</nz-form-label>
                        <nz-form-control>
                          <input type="text" nz-input formControlName="method" />
                        </nz-form-control>
                      </nz-form-item>
                    </nz-col>
                    <nz-col nzSpan="8">
                      <nz-form-item>
                        <nz-form-label>path</nz-form-label>
                        <nz-form-control>
                          <nz-select nzMode="tags" formControlName="path">
                            <nz-option nzLabel="/" nzValue="/"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </nz-col>
                    <nz-col nzSpan="24">
                      <nz-form-item>
                        <nz-form-label>headers</nz-form-label>
                        <nz-form-control
                          [nzValidateStatus]="
                            tcpSettings.get('header').get(key).get('headers').valid ? 'success' : 'error'
                          "
                        >
                          <textarea
                            nz-input
                            [value]="tcpSettings.get('header').get(key).get('headers').value | jsonToObject: false"
                            (change)="
                              setHeadersValue(tcpSettings.get('header').get(key).get('headers'), $event.target.value)
                            "
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </nz-col>
                  </nz-row>
                </nz-collapse-panel>
              </nz-collapse>
            </ng-container>
          </nz-collapse-panel>
          <nz-collapse-panel *ngSwitchCase="'mKcp'" nzHeader="kcpSettings" formGroupName="kcpSettings">
            <nz-row nzGutter="8">
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>mtu</nz-form-label>
                  <nz-form-control>
                    <nz-input-number formControlName="mtu" [nzMin]="576" [nzMax]="1460" [nzStep]="1"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>tti</nz-form-label>
                  <nz-form-control>
                    <nz-input-number formControlName="tti" [nzMin]="10" [nzMax]="100" [nzStep]="1"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>congestion</nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName="congestion"></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>uplinkCapacity</nz-form-label>
                  <nz-form-control>
                    <nz-input-number formControlName="uplinkCapacity" [nzMin]="0"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>downlinkCapacity</nz-form-label>
                  <nz-form-control>
                    <nz-input-number formControlName="downlinkCapacity" [nzMin]="0"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>readBufferSize</nz-form-label>
                  <nz-form-control>
                    <nz-input-number
                      formControlName="readBufferSize"
                      [nzMin]="0"
                      [nzFormatter]="bufferSizeFormatter"
                      [nzParser]="bufferSizeParser"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>writeBufferSize</nz-form-label>
                  <nz-form-control>
                    <nz-input-number
                      formControlName="writeBufferSize"
                      [nzMin]="0"
                      [nzFormatter]="bufferSizeFormatter"
                      [nzParser]="bufferSizeParser"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
          </nz-collapse-panel>
          <nz-collapse-panel *ngSwitchCase="'ws'" nzHeader="wsSettings" formGroupName="wsSettings">
            <nz-row nzGutter="8">
              <nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>path</nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="path" nzMode="tags"> </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>headers</nz-form-label>
                  <nz-form-control [nzValidateStatus]="wsSettings.get('headers').valid ? 'success' : 'error'">
                    <textarea
                      nz-input
                      [value]="wsSettings.get('headers').value | jsonToObject: false"
                      (change)="setHeadersValue(wsSettings.get('headers'), $event.target.value)"
                    ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
          </nz-collapse-panel>
          <nz-collapse-panel *ngSwitchCase="'http/2'" nzHeader="httpSettings" formGroupName="httpSettings">
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>path</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="path" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>host</nz-form-label>
                  <nz-form-control>
                    <nz-select nzAllowClear nzMode="tags"> </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-collapse-panel>
          <nz-collapse-panel *ngSwitchCase="'domainSocket'" nzHeader="dsSettings" formGroupName="dsSettings">
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>path</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="path" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>abstract</nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName="abstract"></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-collapse-panel>
          <nz-collapse-panel *ngSwitchCase="'quic'" nzHeader="quicSettings" formGroupName="quicSettings">
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>security</nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="security">
                      <nz-option nzLabel="none" nzValue="none"></nz-option>
                      <nz-option nzLabel="aes-128-gcm" nzValue="aes-128-gcm"></nz-option>
                      <nz-option nzLabel="chacha20-poly1305" nzValue="chacha20-poly1305"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="quicSettings.get('security').value !== 'none'">
                <nz-form-item>
                  <nz-form-label>key</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="key" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24">
                <nz-form-item>
                  <nz-form-label>header</nz-form-label>
                  <nz-form-control>
                    <textarea
                      nz-input
                      [value]="quicSettings.get('header').value | jsonToObject: false"
                      (change)="setHeadersValue(quicSettings.get('header'), $event.target.value)"
                    ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-collapse-panel>
        </ng-container>
      </nz-collapse>
    </nz-collapse-panel>
  </nz-collapse>
</form>
