:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .home-layout {
    nz-sider {
      padding: 20px 0;
      ::ng-deep {
        .ant-layout-sider-children {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .collapse-icon {
      cursor: pointer;
      transition: all 0.3s;
      &.collapsed {
        transform: rotate(180deg);
      }
    }
  }
  [nz-menu-item] {
    -webkit-app-region: no-drag;
  }
}
