<nz-card class="node-card" [class.active]="activated">
  <div class="d-flex align-items-center mb-2">
    <span class="name" nz-tooltip [nzTooltipTitle]="nodeConfig.name">{{ nodeConfig.name }}</span>
    <span class="time"></span>
  </div>
  <p class="d-flex align-items-center">
    <span *ngIf="showEdit">
      <a nz-icon nzType="edit" (click)="emitEdit($event)"></a>
    </span>
    <nz-tag class="ml-auto" nzColor="#49aa19">{{ nodeConfig?.protocol }}</nz-tag>
  </p>
  <p class="content text-right mb-0" nz-tooltip [nzTooltipTitle]="getAddress(nodeConfig)">
    {{ getAddress(nodeConfig) }}
  </p>
</nz-card>
