<nz-spin [nzSpinning]="loading">
  <div class="d-flex justify-content-end mb-2">
    <button nz-button nzType="link" (click)="add()">
      <i nz-icon nzType="plus"></i>
      <span>添加</span>
    </button>
    <button [disabled]="!configFormGroup.valid" nz-button nzType="primary" (click)="submit()">保存</button>
  </div>
  <form nz-form [formGroup]="configFormGroup">
    <nz-collapse formArrayName="inbounds" *ngIf="inboundsFormArray.controls.length">
      <nz-collapse-panel
        *ngFor="let inbound of inboundsFormArray?.controls; let i = index"
        [nzExtra]="inboundCardExtra"
        [formGroupName]="i.toString()"
        [nzHeader]="inbound.get('tag').value"
      >
        <ng-template #inboundCardExtra>
          <button nz-button nzType="link" (click)="inboundsFormArray.removeAt(i)">
            <i nz-icon nzType="delete"></i>
            <span>删除</span>
          </button>
        </ng-template>
        <nz-row nzGutter="8">
          <nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired>tag</nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="tag" />
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="10">
            <nz-form-item>
              <nz-form-label>listen</nz-form-label>
              <nz-form-control>
                <input type="text" nz-input formControlName="listen" />
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="7">
            <nz-form-item>
              <nz-form-label nzRequired>port</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="port"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="7">
            <nz-form-item>
              <nz-form-label>protocol</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="protocol">
                  <nz-option nzValue="socks" nzLabel="socks"></nz-option>
                  <nz-option nzValue="http" nzLabel="http"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <ng-container>
            <nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label>sniffing</nz-form-label>
                <nz-form-control>
                  <nz-switch [formControl]="inbound.get('sniffing').get('enabled')"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="16" *ngIf="inbound.get('sniffing').get('enabled').value">
              <nz-form-item>
                <nz-form-label>destOverride</nz-form-label>
                <nz-form-control>
                  <nz-select nzMode="multiple" [formControl]="inbound.get('sniffing').get('destOverride')">
                    <nz-option nzValue="http" nzLabel="http"></nz-option>
                    <nz-option nzValue="tls" nzLabel="tls"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </ng-container>
        </nz-row>
        <nz-row nzGutter="8">
          <ng-container *ngIf="inbound.get('settings')">
            <ng-container *ngIf="inbound.get('protocol').value === 'socks'">
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>auth</nz-form-label>
                  <nz-form-control>
                    <nz-select [formControl]="inbound.get('settings').get('auth')">
                      <nz-option nzLabel="noauth" nzValue="noauth"></nz-option>
                      <nz-option nzLabel="password" nzValue="password"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <ng-container
                *ngIf="
                  inbound.get('settings').get('auth').value === 'password' &&
                  inbound.get('settings').get('accounts')['controls'].length
                "
              >
                <nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label>user</nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        type="text"
                        [formControl]="inbound.get('settings').get('accounts')['controls'][0].get('user')"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </nz-col>
                <nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label>password</nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        type="text"
                        [formControl]="inbound.get('settings').get('accounts')['controls'][0].get('pass')"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </nz-col>
              </ng-container>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>userLevel</nz-form-label>
                  <nz-form-control>
                    <nz-input-number [formControl]="inbound.get('settings').get('userLevel')"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>udp</nz-form-label>
                  <nz-form-control>
                    <nz-switch [formControl]="inbound.get('settings').get('udp')"></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8" *ngIf="inbound.get('settings').get('udp').value">
                <nz-form-item>
                  <nz-form-label>ip</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input [formControl]="inbound.get('settings').get('ip')" />
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </ng-container>
            <ng-container *ngIf="inbound.get('protocol').value === 'http'">
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>timeout</nz-form-label>
                  <nz-form-control>
                    <nz-input-number
                      [nzMin]="0"
                      [formControl]="inbound.get('settings').get('timeout')"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <ng-container *ngIf="inbound.get('settings').get('accounts')['controls'].length">
                <nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label>user</nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        type="text"
                        [formControl]="inbound.get('settings').get('accounts')['controls'][0].get('user')"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </nz-col>
                <nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label>password</nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        type="text"
                        [formControl]="inbound.get('settings').get('accounts')['controls'][0].get('pass')"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </nz-col>
              </ng-container>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>userLevel</nz-form-label>
                  <nz-form-control>
                    <nz-input-number [formControl]="inbound.get('settings').get('userLevel')"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </ng-container>
          </ng-container>
        </nz-row>
      </nz-collapse-panel>
    </nz-collapse>
  </form>
</nz-spin>
